body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  padding-top: 10px;
  padding-left: 10px;
  height: 500px;
  width: 100%;
  left: 0;
  top: 0;
}

.row {
 padding-top:10px;

}
