body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  background-color: #ccc !important;
}

#cy {
  padding-top: 10px;
  padding-left: 10px;
  height: 500px;
  width: 100%;
  left: 0;
  top: 0;
}

.row {
 padding-top:10px;
}

.input-div {
 margin-left:40px;
}

hr {
 margin: 20px 0;
 border: solid 1px #aaa !important;
 border-width: 1px 0 0 0;
}

p {
 font-family: 'bariol_boldbold';
 font-size: 18px;
 padding-bottom: 5px;
 line-height: 34px;
 color: #aaa:
}

h1 {
 font-family: 'bariol_boldbold' !important;
 font-size: 28px !important;
 padding-bottom: 5px !important;
 line-height:34px !important; 
}
